.profileItemWrapper {
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: #576ca8;
  height: 55px;
  line-height: 55px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .profilePictures {
    height: 25px;
  }
}

@media screen and (max-width: 800px) {
  .profilePictures {
    height: 15px;
  }
}
