.inputWrapper {
  background-color: #f5f3f5;
  padding: 50px;
  border-radius: 10px;
  position: relative;
  top: 175px;
}
.login {
  background-color: #576ca8;
  padding-bottom: 100px;
}

.startBottom {
  background-color: #f5f3f5;
}
